$mainColor:#A98B69;
$liteBrown:#cbb9a5;
$secondColor:#f2f2f2;
$thirdColor:#fff;
$fourthColor:#000;
$fontFamily: 'Playfair' Display;
$logoFont: 'Merienda One', cursive;
$fontFamily2: 'Roboto', sans-serif;
$navFontFamily:'Montserrat', sans-serif;
$mainFontSize: 16px;
$sideSpace: 0 7% 0 7%;
$maxMobile:"(max-width: 767px)";
$minSmall:"(min-width: 768px)";
$minMedium:"(min-width: 991px)";
$minLarge:"(min-width: 1200px)";

