@import "_nav&footer";
section{
    padding-bottom: 200px;
    background-color: $mainColor;
    .header{
        height: 240px;
        background-color: black;
        margin: 0 7%;
        h3{
            font-family: $fontFamily2;
            color: $thirdColor;            
            font-size: 48px;
            // text-align: center;
            padding: 120px 0 0 32px;
        }
    }
    #slideContainer{
        visibility: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: .9);
        justify-items: center;
        button{
            color: white;
            background-color:rgba($color: #000000, $alpha: .0);
            font-weight: bold;;
            border:2px solid $mainColor;
            border-radius: 12px;
            padding: 2px 8px;
            margin: 100px 0 0 16px;
            &:hover{
                background-color: red;
                border:2px solid red;
            }
        }
    
        #sildeShow{
            background-image: url();
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            div{
                display: flex;
                width: 100%;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                #img2{
                    position: absolute;
                    right: 0;
                }
            }
            button{
                @extend %buttonStyle;
                font-size: 40px;
                position: absolute;
                right: 100px;
                bottom: 150px;
            }
            @media #{$maxMobile} {
                width: 100%;
                height: 30%;
                margin-top: 50%;
                transform: translateY(-50%);
                border: none;
            }
            @media #{$minSmall} {
                width: 100%;
                height: 45%;
                border: none;
            }
            @media #{$minMedium} {
                width: 100%;
                height: 60%;
            }
            @media #{$minLarge} {
                width: 96%;
                height: 76%;
                margin: 16px auto;
            }
           
        }
    }
    .gallery{
        margin: 0px 7%;
        .filter{
            height: 32px;
            border-bottom: 1px solid $fourthColor;
            margin-bottom: 16px;
            padding: 0;
            div{
                font-family: $fontFamily2;
                font-weight: bold;
                font-size: 18px;
                padding: 0 100px 0 32px;
            }
        }
        
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            padding: 24px 0; 
            div{
                width: 400px;
                div{
                    display: block;
                    width: 100%;
                    text-align: center;
                    span{
                    font-family: $fontFamily2;
                    font-size: 20;
                    font-weight: bold;
                    color: $mainColor;
                    background: black;
                    }
                    p{
                    font-size: 16px;
                    padding: 8px 0 0 0;
                    }
                }
                div{
                    width: 100%;
                    text-align: center;
                    img{
                        height: 160px;
                        width: 290px;
                        padding: 16px 0;
                        @media #{$maxMobile} {
                            padding: 5px 0;
                        }
                    } 
                }
                &:hover{
                    border-radius: 8px;
                    box-shadow: 0 0 4px 4px rgba($color: #000000, $alpha: .1);
                    div{
                        box-shadow: none;
                    }
                    div{
                        box-shadow: none;
                        img{
                            padding: 0;
                            height: 170px;
                            width: 300px;
                            transition: 0.5s all ease-in-out;
                        }
                    }
                    
                }
                @media #{$maxMobile}{
                width: 100%;
                display: flex;
                }
            }
            
        }
        @media #{$minSmall}{
            margin: 0 3%;
        }
        @media #{$minMedium}{
            margin: 0 5%;
        }
        @media #{$minLarge}{
            margin: 0 7%;
        }
    }
}
.homeSection{
    height: 500px;
}
