@import "_nav&footer";
.container{
    margin: 0 30%;
    padding: 300px 0;
    justify-content: space-between;
    input{
        width: 100%;
        border: none;
        border-bottom: 2px solid $mainColor;
        border-radius: 4px;
    }
    div{
        width: 100%;
    }
}
.fullName{
    display: flex;
    justify-content: space-between;
    .prenom{
        width: 48%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .nom{
        width: 48%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
}
.email{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.confEmail{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.password{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.confPassword{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.phon{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.birthday{
    display: flex;
    justify-content: space-between;
    .year{
        width: 30%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .month{
        width: 30%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .day{
        width: 30%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    select{
        width: 100%;
        border: none;
        border-bottom: 2px solid $mainColor;
        border-radius: 4px;
    }
}
.permis{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.country{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.emission{
    display: flex;
    justify-content: space-between;
    .anneeD{
        width: 30%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .moisD{
        width: 30%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .jourD{
        width: 30%;
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
}
.carteCredit{
    display: flex;
    .typeCarte{
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .numeroCarte{
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
}
.dateCarte{
    display: flex;
    .moisCarte{
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
    .anneeCarte{
        margin: 8px 0;
        div{
            padding: 8px;
        }
    }
}
.radio{
    input{
        width: max-content;
    }
}
.adresse{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.ville{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.pays{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.codePostal{
    margin: 8px 0;
    div{
        padding: 8px;
    }
}
.conditions{
    display: flex;
    input{
        width: max-content;
    }
}

.enregistrerbtn{
    margin-top: 56px;
    button{
        @extend %buttonStyle;
        width: max-content;
    }
}
