@import "_nav&footer";
%fieldStyle{
    padding: 5px 12px;
    font-size: 18px;
    background-color: $mainColor;
    border-radius: 2px;
    border: none;
    color: $thirdColor;
    font-family: $fontFamily;
}
header{
    background-image: url(../imgs/ferrari.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    div{
        p{
            color: $secondColor;
            font-size: 50px; 
            padding: 100px;
            font-family: $fontFamily;
        }
    }
}
section{
    transform: translateY(-700px);
}
form{
    background-color: $thirdColor;
    border-bottom: 3px solid $mainColor;
    border-radius: 8px;
    box-shadow: 0 0 8px 8px rgba($color: #000000, $alpha: .2);
    margin: 24px 16%;
    padding: 40px;
    .city{
        display: flex;
        margin: 16px;
        div{
            width: 50%;
            div{
                width: 100%;
                padding: 8px;
            }
        }
    }
    .date{
        display: flex;
        padding: 16px;
        margin: 16px;

        div{
            width: 25%;
            div{
                width: 100%;
                padding: 8px;
            }
        }
    }
    .remise{
        display: flex;
        padding: 16px;
        margin: 16px;
        div{
            width: 50%;
            div{
                width: 100%;
                padding: 8px;
            }
        }
    }
    Button{
        @extend %buttonStyle;
    }
    label{
        font-size: 18px;
        font-family: $fontFamily;
    }
    input{
        font-size: 24px;
        font-family: $navFontFamily;
        border: none ;
        border-bottom: 2px solid $mainColor;
        border-radius:4px ;
        width: 90%;
    }
}
.pub{
    display: flex;
    height: 300px;
    margin: 32px 10%;
    justify-content: space-between;
    .textDiv{
        background:$mainColor;
        width: 100%;
    }
}
.child{
    width: 30%;
    background-color: $mainColor;
}